@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kumbh Sans", sans-serif;
}

hr {
  border: none;
  border-top: 1px solid hsl(0, 0%, 75%);
}

/* Container Section */

.container {
  background-color: hsl(185, 75%, 39%);
  background-image: url("../images/bg-pattern-top.svg"),
    url("../images/bg-pattern-bottom.svg");
  background-repeat: no-repeat;
  background-position: right 50vw bottom 40vh, left 50vw top 40vh;

  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-container {
  margin-top: 26%;
}

.name-age-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.stats-container {
  font-size: 18px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 1rem;
}

/* Name Section */

.name {
  color: hsl(229, 23%, 23%);
  font-size: 18px;
  font-weight: 700;
  padding-right: 2%;
}

.age {
  color: hsl(0, 0%, 59%);
}

.city {
  margin-top: -2%;
  color: hsl(0, 0%, 59%);
}

/* Card Section */

.card {
  width: 90%;
  min-height: 55vh;
  border-radius: 10px;
  text-align: center;
  background-color: hsl(0, 0%, 100%);
  background-image: url("../images/bg-pattern-card.svg");
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  box-shadow: 0 5px 20px hsl(229, 23%, 23%);
}

.profile-pic {
  border-radius: 100%;
  border: 5px solid #fff;
}

/* Stats Section */

.stats {
  color: hsl(229, 23%, 23%);
  font-weight: 700;
  margin-bottom: 10%;
}

.stats-heading p {
  color: hsl(0, 0%, 59%);
  font-size: 0.7rem;
  letter-spacing: 1.5px;
}

/* Attribution Section */

.attribution {
  font-size: 11px;
  text-align: center;
  display: none;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 376px) and (max-width: 1024px) {
  .card {
    width: 100%;
    margin: auto 20vw;
    min-height: 50vh;
  }
}

@media (min-width: 1024px) {
  .card {
    width: 100%;
    margin: auto 39vw;
    min-height: 50vh;
  }
}
